body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Tahoma, Verdana;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background: #DDD;
}

section {
  background: #FDFDFD;
  margin: 0 4rem;
  padding: 0 2rem;
  flex-grow: 0;
}

.colum {
  display: flex;
  fiex-direction: column;
}  

.row {
  display: flex;
  fiex-direction: row;
}  

.graph {
  margin: 5px;
  width: 260px;
  height: 260px;
  border: 1px solid #DDD;
  box-sizing: border-box;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  // stroke: #fff;
  stroke-width: 2.0px;
}
